* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-heading {
  text-align: center;
  color: tomato;
  background-color: black;
  height: 50px;
  /* margin-top: 12px; */
}
.main-container {
  /* border: 1px solid green; */
  min-height: 512px;
  width: 100%;
  /* margin-top: 10px; */
  background-color: rgb(255, 255, 60);
}
.main-container img {
  /* border: 1px solid red; */
  width: 70px;
  /* margin-top: 2px; */
  position: relative;
  cursor: pointer;
  /* border-radius: 50%; */
}
#img-show {
  width: 300px;
  /* border:10px solid Red;
  border-radius: 50%; */
}
#show-first {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* line-height: 20px; */
  transform: translateY(70%);
}
#show-first span {
  color: red;
}
#first-text {
  /* position: relative; */
  font-size: 40px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  color: red;
  text-align: center;
  margin-top: 10px;
}
.footer {
  /* border:1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: tomato;
  background-color: black;
  height: 135px;
}
.buttons button {
  padding: 8px 12px;
  color: tomato;
  background: black;
  cursor: pointer;
  border: 1px solid tomato;
}
.buttons button:hover {
  color: black;
  background-color: orange;
}
.heading-section span {
  font-size: 25px;
  font-weight: bold;
}

/* Media Queries */

@media screen and (max-width:425px) {
  .main-heading {
    text-align: center;
    height: 30px;
    font-size: 1.3rem;
  }
#show-first>img{
    width:35vw;
    height:20vh;
}
#first-text{
  font-size: 1.5rem;
}
#first-text+span{
  font-size: 0.7rem;
}
#hit-text{
  font-size : 0.6rem;
  }
  
.main-container{
  height:auto;
  width:auto;
}
.buttons{
  padding: 2px 6px;
}
.heading-section>span{
  font-size: 1.2rem;
}
#timer{
  font-size: 0.8rem;
}
#mosquito{
  width: 15vw;
}
}
